<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Announcements</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="card">
                            <div class="card-header with-border">
                                <h3 class="card-title">Edit</h3>
                            </div>

                            <div class="card-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="card-body">
                                <div class="form-group">
                                    <label for="title">Title *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="title"
                                            placeholder="Enter Title *"
                                            :value="item.title"
                                            @input="updateTitle"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="display_from">Display from *</label>
                                    <date-picker
                                            :value="item.display_from"
                                            :config="$root.dpconfigDate"
                                            name="display_from"
                                            placeholder="Enter Display from *"
                                            @dp-change="updateDisplay_from"
                                            >
                                    </date-picker>
                                </div>
                                <div class="form-group">
                                    <label for="display_to">Display to *</label>
                                    <date-picker
                                            :value="item.display_to"
                                            :config="$root.dpconfigDate"
                                            name="display_to"
                                            placeholder="Enter Display to *"
                                            @dp-change="updateDisplay_to"
                                            >
                                    </date-picker>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <vue-ckeditor
                                            name="description"
                                            :id="'description'"
                                            :value="item.description"
                                            @input="updateDescription"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="order">Order</label>
                                    <input
                                            type="number"
                                            class="form-control"
                                            name="order"
                                            placeholder="Enter Order"
                                            :value="item.order"
                                            @input="updateOrder"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="active">Active</label>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="active"
                                                    :value="item.active"
                                                    :checked="item.active === '1'"
                                                    @change="updateActive('1')"
                                                    >
                                            Yes
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="active"
                                                    :value="item.active"
                                                    :checked="item.active === '0'"
                                                    @change="updateActive('0')"
                                                    >
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('AnnouncementsSingle', ['item', 'loading']),
    },
    created() {
        this.fetchData(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('AnnouncementsSingle', ['fetchData', 'updateData', 'resetState', 'setTitle', 'setDisplay_from', 'setDisplay_to', 'setDescription', 'setOrder', 'setActive']),
        updateTitle(e) {
            this.setTitle(e.target.value)
        },
        updateDisplay_from(e) {
            this.setDisplay_from(e.target.value)
        },
        updateDisplay_to(e) {
            this.setDisplay_to(e.target.value)
        },
        updateDescription(value) {
            this.setDescription(value)
        },
        updateOrder(e) {
            this.setOrder(e.target.value)
        },
        updateActive(value) {
            this.setActive(value)
        },
        submitForm() {
            this.updateData()
                .then(() => {
                    this.$router.push({ name: 'announcements.index' })
                    this.$eventHub.$emit('update-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
