body {
    font-family: "Roboto", sans-serif;
    color: #414146;
    font-size: 0.906rem;
    line-height: 1.6;
    background: rgb(1, 0, 78);
    background: linear-gradient(180deg, rgba(1, 0, 78, 1) 0%, rgba(19, 167, 252, 1) 69%, rgba(1, 0, 78, 1) 100%);
    background-repeat: no-repeat;
}


a.social-btn,
a.social-btn:hover,
a.btn-theme-blue:hover,
a.btn-theme-wine:hover,
a.btn-theme-orange:hover,
a.facebook-btn:hover,
a.twitter-btn:hover,
a.linkedin-btn:hover,
a.google-btn:hover {
    text-decoration: none;
    color: #fff;
}


h1 {
    font-weight: 700;
}

.top-bar .headline {
    font-size: 2em;
}

button {
    border: none;
    cursor: pointer;
}

a {
    color: #2b2093;
    text-decoration: none;
}

a:not(.btn):hover, a:not(.btn):focus {
    color: #231a79;
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.no-wrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul {
    margin-top: 0;
    margin-bottom: 5px;
    list-style-type: none;
}

nav.secondary-nav {
    display: block;
    text-align: center;
    clear: both;
    margin: 10px;
    border-bottom: none !important;
    padding: 0.5rem 1rem !important;
    position: relative;
}

nav.secondary-nav ul.list {
    padding: 0;
    display: contents;
}

nav.secondary-nav ul li {
    padding: 0 20px;
    display: inline-block;
}

nav.secondary-nav ul li a {
    color: #414146;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

nav.secondary-nav ul li a.active {
    color: #2b2093;
    font-weight: bold;
}

#wrapper {
    min-height: 100vh;
    /*background: whitesmoke;*/
}

#wrapper .content {
    background: rgba(255, 255, 255, .9);
}

.no-bg, .basic-page {
    background: none;
}

.basic-page .card-title {
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
}

.basic-page > .card-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


#wrapper .content .card {
    /*background: #bbbbd7;*/
    border: 0;
}

/**
 * Tags
 */
.tags {
    display: block;
    margin: 23px 0 3px 0;
}

.tags span {
    transition: 0.3s;
    font-size: 14.7px;
    border-radius: 4px;
    background-color: rgba(102, 103, 107, .07);
    color: #2b2093;
    display: inline-block;
    padding: 6px 15px;
    margin: 2px 0;
    line-height: 24px;
}


.section {
    padding: 1rem 0;
}

.item .title, .item a, .item a:focus {
    font-style: normal;
    color: rgb(255, 240, 0);
    text-decoration: none;
    text-transform: none;
}

.item a {
    color: rgba(255, 255, 255, .8);
}

.item a:hover {
    color: rgb(255, 255, 255);
}


.item .caption {
    font-style: normal;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

/**
 * Ring Loader
 */
.rc-loader {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .97);
    z-index: 9999;
}

.rc-loader-inner {
    width: 100%;
    height: 100%;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #d3184b;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #d3184b transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.navbar-default {
    background: #fff;
    height: 60px;
}

.navbar.main-menu {
    background: rgb(135, 8, 0);
    /*background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(1, 0, 78, 1) 69%, rgba(0, 0, 0, 1) 100%);*/
}

.navbar.main-menu .nav-link {
    color: #cebdbc;
    font-weight: 700;
}

.navbar.main-menu .nav-link:hover {
    color: #DDDDFA;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: #FFF000;
}

.py-5 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.text-lg {
    font-size: 1.125rem;
}

.text-gray-300 {
    color: #e2e8f0;
}

.text-gray-500 {
    color: #b8bbd9;
}

.widget-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.about-ul > li {
    padding-left: 17px;
    position: relative;
}

.about-ul > li:before {
    border-radius: 100%;
    top: 9px;
    width: 6px;
    height: 6px;
    position: absolute;
    content: "";
    bottom: auto;
    left: 0;
    right: auto;

    background-color: #2b2093;
}

.mobile-nav {
    margin-top: 5px;
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.noscroll {
    overflow: hidden;
}

#logo {
    margin-bottom: 10px;
}

.btn-learna {
    display: inline-block;
    border-radius: 3px;
    color: #414146;
    border: 1px solid #414146;
    background-color: transparent;
    padding: 4px 16px;
    font-size: 0.9rem;
}

a.btn-learn:hover {
    background-color: transparent;
    border: 1px solid #2b2093;
    color: #2b2093 !important
}

.btn-raicasts, .btn-raicasts:hover, .btn-raicasts:focus {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background-color: #d32041;
    padding: 0.375rem 1.60rem;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(43, 32, 147, 0.25);
}


.btn-raicasts:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(211, 32, 65, 0.25);
}

.btn-raicasts-cview, .btn-raicasts-cview:hover, .btn-raicasts-cview:focus {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    background-color: #2b2093;
    padding: 0.375rem 0.7rem;
}

.btn-raicasts-preview, .btn-raicasts-preview:hover {
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    background-color: #2b2093;
    padding: 0.05rem 0.7rem;
}

#dropdownMenuButton, #dropdownMenuButtonRight {
    font-size: 0.9rem;
    cursor: pointer;
}

.dropdown-menu {
    font-size: 0.9rem;
}

.dropdown-item:hover {
    background-color: #f0f0f5;
}


#category-block {
    margin-top: 2px;
}

.seperator-head:after {
    max-width: 360px;
    background-color: rgba(216, 216, 216, 0.5);
    width: 100%;
    height: 1px;
    transform: translateX(-50%);
    position: absolute;
    content: "";
    top: auto;
    bottom: 0;
    left: 50%;
    right: auto;
}

.seperator-head:before {
    max-width: 50px;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 1px;
    transform: translateX(-50%);
    position: absolute;
    content: "";
    top: auto;
    bottom: 0;
    left: 50%;
    right: auto;
    background-color: #2b2093;
}

.navbar-light .navbar-nav .nav-link {
    color: #444;
    font-weight: bold;
}

.dropdown i {
    color: #bbbbd7;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 9px;
    height: 7px;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    background: transparent;
    text-indent: -9999px;
    border-top: 2px solid #bbbbd7;
    border-left: 2px solid #bbbbd7;
    color: transparent;
    transition: all 250ms ease-in-out;
    transform: rotate(225deg);
    text-decoration: none;
}

#loginLink {
    color: #2b2093;
    font-weight: bold;
}

li > a#loginLink {
    border-bottom: 3px solid #2b2093;
}

#loginLink:hover {
    text-decoration: none;
}

.login-page-seperator:after {
    max-width: 1140px;
    background-color: rgba(216, 216, 216, 0.5);
    width: 100%;
    height: 1px;
    transform: translateX(-50%);
    position: absolute;
    content: "";
    top: auto;
    bottom: 0;
    left: 50%;
    right: auto;
}

.login-page-seperator.secondary-nav a.active {
    border-bottom: 3px solid #2b2093;
}


.forgot-text {
    text-decoration: none;
    color: #2b2093;
}

.login-page-button {
    background-color: #d3184b;
    color: #fff;
    font-size: 0.9rem;
    line-height: 2.0;
}

.social-btn {
    color: #fff;
    font-size: 0.9rem;
    line-height: 2.0;
    text-align: left;
}

.social-btn i {
    font-size: 1.7rem;
}

.social-btn-sm {
    color: #fff;
    font-size: 0.7rem;
    line-height: 0.2;
    text-align: left;
    font-weight: 500;
}

.social-btn-sm i {
    font-size: 0.8rem;
}

.facebook-btn {
    background-color: #3B5A97;
}

.linkedin-btn {
    background-color: #0077B5;
}

.twitter-btn {
    background-color: #55acee;
}

.google-btn {
    background-color: #da4b3a;
}


.hr-container {
    display: flex;
    justify-content: center;
    line-height: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 20px 0;
}

.hr-inline {
    -webkit-box-flex: 1;
    width: 20%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    background: #D8D8D8;
    border: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.hr-inline {
    width: 44.2% !important;
}

.hr-text {
    width: initial !important;
    padding-left: 5px;
    padding-right: 5px;
    color: #cec3c3;
}

.hr-inline {
    -webkit-box-flex: 1;
    flex: 1;
    height: 1px;
    background: #D8D8D8;
    border: 0;
    margin-top: auto;
    margin-bottom: auto;
}

/*accordian*/
.card {
    border-radius: 0;
}

.card-header {
    padding: 0.2rem 1.25rem;
    background-color: #ecf5f8;
}

.card-header:first-child {
    border-radius: 0;
}


.ct-block {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
    margin-top: 20px;
}

.contact-icon {
    width: 40px;
    float: left;
    margin-right: 4px;
}

.contact-icon i {
    font-size: 42px;
    color: #2b2093;
}

.contact-detail {
    line-height: 1.4;
}

.contact-detail span {
    font-weight: 600;
}

.box-header {
    font-size: 16px;
    font-weight: 500;
    padding: 12.5px 25px;
    border-bottom: solid 1px #e8e8e8;
    height: 50px;
    width: 100%;
    text-align: center;
    color: #787887;
}

.map-block {
    padding-top: 52px;
}

.not-found-block {
    min-height: 200px;
}

.not-found-col {
    text-align: center;
}

.not-found-col span {
    font-size: 180px;
    color: #d4d4d4;
    line-height: 1.2;
}

.not-found-col span.blue {
    color: #2b2093;
}

.count-block {
    background-color: #ecf5f8;
    min-height: 230px;
    position: relative;
    margin-top: 40px;
}

.count-block .underline-heading {
    line-height: 1.6;
    color: #2b2093;
}

.count-block .underline-heading:after {
    background-color: #2b2093;
}

.feature-box {
    width: 260px;
    height: 280px;
    box-shadow: 0 6px 9px 0 hsla(0, 0%, 86%, .46);
    border: 1px solid #f0f0f5;
    margin: 20px 18px 20px 0;
    transition: transform .3s ease-out;
    cursor: pointer;
}

.feature-box:hover {
    transform: scale(1.02);
    border: 1px solid #2b2093;
}

.feature-box i {
    font-size: 65px;
    margin-top: 20px;
    color: #2b2093;
    margin-left: 10px;
}

.feature-title {
    margin-top: 15px;
}

.feature-box p {
    font-size: 13px;
}

.instructor-profile-box {
    width: 260px;
    min-height: 300px;
    box-shadow: 0 6px 9px 0 hsla(0, 0%, 86%, .46);
    border: 1px solid #f0f0f5;
    cursor: pointer;
}

.social-icons {
    display: flex;
}

.social-icons li {
    padding: 20px 15px 10px 15px;
}

.social-icons i {
    font-size: 30px;
    color: #2b2093;
    width: 22px;
}

/**=============================
 * Header Section
 */

.top-bar {
    background-image: url('/images/top-bar-bg.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

.smart-marquee {
    background: rgb(1, 0, 49);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgb(1, 0, 117) 96%);
    height: 2rem;
    overflow: hidden;
    position: relative;
}

.smart-marquee span {
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 2rem;
    text-align: center;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: smart-marquee 20s linear infinite;
    -webkit-animation: smart-marquee 20s linear infinite;
    animation: smart-marquee 20s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes smart-marquee {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes smart-marquee {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes smart-marquee {
    0% {
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%);
    }
}

/**=============================
 * Slider Section
 */

#homeCarousel {
    /*z-index: 999;*/
    background: rgb(1, 0, 49);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(1, 0, 49, 1) 96%);
}

#homeCarousel {
    height: 400px;
    border-top: 6px solid #000000;
    border-bottom: 6px solid #01004E;
}

#homeCarousel .item,
#homeCarousel.owl-carousel.owl-drag .owl-item,
#homeCarousel .item > div,
#homeCarousel .item > div > div
#homeCarousel .item > div > div,
#homeCarousel .item > div > div > img {
    max-height: 400px;
}


#homeCarousel img {
    width: auto;
    max-width: 100%;
}

#homeCarousel .item .title {
    font-size: 1.5rem;
}

#homeCarousel .item .caption {
    font-size: 1rem;
    line-height: 1.5;
}

/**
 * Owl Carousel
 */

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    color: #fff;
    font-size: 18px;
    margin-top: -20px;
    position: absolute;
    top: 45%;
    text-align: center;
    line-height: 39px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #870800;
    background: linear-gradient(180deg, #870800 0%, rgba(0, 0, 0, 1) 96%);
}

.owl-carousel .owl-nav button.owl-prev {
    left: -2%;
}

.owl-carousel .owl-nav button.owl-next {
    right: -2%;
}

.owl-carousel:hover .owl-nav button.owl-next {

}

.owl-carousel:hover .owl-nav button.owl-prev {

}

.owl-carousel:hover .owl-nav button.owl-next:not(.disabled):hover,
.owl-carousel:hover .owl-nav button.owl-prev:not(.disabled):hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, .5);
    color: #fff;
    background: rgb(135, 8, 0);
    background: linear-gradient(180deg, rgb(135, 8, 0) 0%, rgba(0, 0, 0, 1) 96%);
}

.owl-carousel .owl-nav button:focus {
    outline: none;
}

.small-carousel .owl-nav button.owl-prev,
.small-carousel .owl-nav button.owl-next {
    font-size: 8px;
    width: 20px;
    height: 20px;
    line-height: 1;
}

.card .card-body .overflow {
    max-height: 510px;
    overflow-y: scroll;
}

.card.prophecies .card-body .overflow {
    max-height: 910px;
}

.card.fulfilled-prophecies .card-body .overflow {
    max-height: 675px;
    min-height: 675px;
}

.card.prophecies-about-germany .card-body .overflow {
    max-height: 750px;
}

.card.prophecies-about-germany .card-body .item:not(:last-child) {
    margin-bottom: 0.5rem !important;
}

.basic-page {
    min-height: 50vh;
}

.basic-page .card-header {
    background: rgb(135, 8, 0);
    color: #bbbbd7;
}

.card ::-webkit-scrollbar {
    width: .4em;
}

.card ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.card ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.documents:not(.basic-page) .card-header,
.de-list:not(.basic-page) .card-header,
.prophecies:not(.basic-page) .card-header,
.glorious-blue:not(.basic-page) .card-header,
.glorious-blue-2:not(.basic-page) .card-header,
.glorious-orange:not(.basic-page) .card-header,
.blue-widget:not(.basic-page) .card-header,
.de-widget:not(.basic-page) .card-header {
    padding: 0;
}

.documents:not(.basic-page) .card-header .card-title,
.de-list:not(.basic-page) .card-header .card-title,
.prophecies:not(.basic-page) .card-header .card-title,
.glorious-blue:not(.basic-page) .card-header .card-title,
.glorious-blue-2:not(.basic-page) .card-header .card-title,
.glorious-orange:not(.basic-page) .card-header .card-title,
.blue-widget:not(.basic-page) .card-header .card-title,
.de-widget:not(.basic-page) .card-header .card-title {
    color: #fff;
    padding: .5rem;
    font-size: 1rem;
}

.home-gallery-carousel-wrapper .card-header,
.glorious-blue .item,
.home-gallery-carousel-wrapper .card-body{
    background: rgb(1, 0, 78);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(1, 0, 78, 1) 69%, rgba(0, 0, 0, 1) 100%);
}

.home-gallery-carousel-wrapper .item .title,
.home-gallery-carousel-wrapper .item a.title,
.glorious-blue .item .title,
.glorious-blue .item a.title,
.documents .item .title,
.documents .item a.title,
.glorious-orange .item .title,
.glorious-orange .item a.title {
    font-size: .85rem;
}

.glorious-blue .item .caption,
.glorious-orange .item .caption,
.documents .item .caption {
    font-size: .85rem;
    line-height: 1.5;
    font-weight: normal;
}

.home-gallery-carousel-wrapper .card-header {
    padding-left: 0;
}
.home-gallery-carousel-wrapper .card-lead,
.card.glorious-blue:not(.basic-page) .card-header {
    background: rgb(135, 8, 0);
    background-image: linear-gradient(180deg, rgb(135, 8, 0) 0%, rgb(125, 0, 0) 100%);
    padding-left: 0;
}

.glorious-blue .item img {
    max-height: 100px;
}

.home-gallery-carousel-wrapper .card-title,
.home-gallery-carousel-wrapper .card-lead .card-title {
    padding: .5rem;
    font-size: 1rem;
}
.home-gallery-carousel-wrapper .card-title {
    color: #fff;
}

.home-gallery-carousel-wrapper .card-lead .card-title {
    color: #FFF000;
    font-size: .85rem;
}

.home-gallery-carousel-wrapper .item img {
    width: auto;
    height: 300px;
}

.card.documents {
    background: #01004e;
    background: linear-gradient(240deg, #01004e 0%, #000 100%);
    background-position: 0 0;
    background-size: calc(100% + 0px) calc(100% + 0px);
}

.card.documents .card-header {
    background: rgb(135, 8, 0);
    background-image: linear-gradient(180deg, rgb(135, 8, 0) 0%, rgb(125, 0, 0) 100%);
}

.card.documents .item .download-btn {
    background-color: rgb(254, 201, 0);
    opacity: 1;
    width: 80px;
    border-radius: 3px;
    font-style: normal;
    font-weight: 700;
    font-size: .75rem;
    color: rgb(153, 0, 0);
    letter-spacing: 0;
}

.glorious-blue-2 {
    background: #01004e;
    background: linear-gradient(240deg, #01004e 0%, #000 100%);
    background-position: 0 0;
    background-size: calc(100% + 0px) calc(100% + 0px);
}

.glorious-blue-2 .item {

}

.glorious-blue-2 .item .title,
.glorious-blue-2 .item a.title,
.documents .item .title,
.documents .item a.title,
.glorious-orange .item .title,
.glorious-orange .item a.title {
    font-size: .85rem;
}


.glorious-blue-2 .item a {
    color: #FF5714;
}


.glorious-blue-2 .item .caption,
.glorious-orange .item .caption,
.documents .item .caption {
    font-size: .75rem;
    line-height: 1;
    font-weight: normal;
}

.glorious-blue-2 .card-header {
    background: #000;
    border-left: 10px solid #FFF000;
}

.glorious-blue-2 .card-header .card-title {
    /*background: rgba(0, 0, 0, 1);*/
}

.glorious-blue-2 .item img {
    max-height: 100px;
}


.card.glorious-orange {
    background: rgb(255, 87, 20);
    background: linear-gradient(240deg, rgb(255, 138, 8) 0%, rgb(255, 87, 20) 100%);
}

.card.glorious-orange .card-header {
    background: #FF5714;
    border-left: 10px solid #FFF000;
    color: #fff;
    padding: .5rem;
    font-size: 1rem;
}

.card.glorious-orange .item .title {
    color: #fff;
}

.card.glorious-orange .item a,
.card.prophecies .item a,
.card.blue-widget .item a,
.text-yellow {
    color: #FFF000;
}

a.text-yellow:hover, .text-yellow a:hover,
a.text-yellow:focus, .text-yellow a:focus {
    color: #ffca0b;
}

a.text-yellow:hover, .text-yellow a:hover {
    color: #ffca0b;
}

.text-orange,
a.text-orange {
    color: #FF8A08;
}

.text-orange-dark,
a.text-orange:hover,
.text-orange a:hover {
    color: #FF5714;
}

.text-red,
a.text-red:hover,
.text-red a:hover {
    color: #820400;
}

.text-theme,
a.text-theme,
a.text-theme:hover,
a.text-theme:focus {
    color: #010031 !important;
}

.card.de-list:not(.basic-page) .card-header {
    background: rgb(135, 8, 0);
    background-image: linear-gradient(180deg, rgb(135, 8, 0) 0%, rgb(125, 0, 0) 100%);
    padding-left: 0;
}

.card.de-list .card-header .card-title {
    color: #fff;
    padding: .5rem;
    font-size: 1rem;
}

.card.de-list .item {
    background: rgb(1, 0, 117);
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(1, 0, 117) 52%, rgb(0, 0, 0) 99%);
    background-position: 0 0;
    background-size: calc(100% + 0px) calc(100% + 0px);
    transform: rotate(0deg) scale(1, 1);
}

.card.de-list .item .title {
    font-size: 1rem;
    border: 1px solid #fff3cd;
    padding: .25rem;
    text-align: center;
    color: #FFF000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: normal;
}

.card.de-list.text-yellow .item .title {
    border: 1px solid #FFF000;
}

.card.blue-widget .card-header,
.card.blue-widget .card-body {
    background: rgba(1, 0, 117, 1);
    background-image: linear-gradient(180deg, rgb(1, 0, 117) 0%, rgb(0, 0, 0) 100%);
}

.card.blue-widget .card-header .card-title {
    color: #fff;
    padding: .5rem;
    font-size: 1rem;
}

.card.prophecies .card-header {
    border: 0;
}

.card.prophecies .card-header {
    background: rgb(1, 0, 49);
    background: linear-gradient(180deg, rgb(1, 0, 117) 0%, rgba(0, 0, 0, 1) 96%);
    color: #fff;
    padding: .5rem;
    font-size: 1rem;
}

.card.prophecies .card-body {
    background: rgb(135, 8, 0);
    padding: 0;
}

.card.prophecies .title,
.card.blue-widget .title {
    font-size: .85rem;
    line-height: 1.25;
    font-weight: normal;
    padding: .25rem;
}

.card.prophecies .title {
    color: #fff;
}

.card.galleries-link {
    background: rgb(135, 8, 0);
    background-image: linear-gradient(180deg, rgb(135, 8, 0) 0%, rgb(125, 0, 0) 100%);
}

.card.galleries-link .item {
    background: rgba(255, 255, 255, .2);
}

.card.radio-link {

}

.card.radio-link .item {
    background: rgba(1, 0, 78, 1);
    background: linear-gradient(240deg, rgba(1, 0, 78, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-position: 0 0;
    background-size: calc(100% + 0px) calc(100% + 0px);
}

.card.radio-link .item .jil-icon {
    background-image: url("/images/icons/JIL.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.card.audio-teachings-link {
    background: rgb(1, 22, 49);
    background: linear-gradient(240deg, rgb(20, 55, 121) 0%, rgb(1, 22, 49) 100%);
    background-position: 0 0;
    background-size: calc(100% + 0px) calc(100% + 0px);
}

.card.audio-teachings-link .item {
    background: rgba(255, 255, 255, .2);
}

.card.youtube-link {

}

.card.youtube-link .link-text {
    background: rgb(135, 8, 0);
    color: #fff;
}

.card.youtube-link .link-icon-wrapper {
    background: rgb(255, 87, 20);
    background-image: linear-gradient(240deg, rgb(255, 138, 8) 0%, rgb(255, 87, 20) 100%);
}

.card.youtube-link .link-icon-wrapper .link-icon {
    background-image: url(/images/icons/youtube.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 32px;
}

.alert {
    background: rgb(255, 87, 20);
    background: linear-gradient(240deg, #01004E 0%, #FF5714 100%);
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.alert .smart-marquee {
    background: transparent;
}

.footer {
    padding: 4.5rem 0;
    color: #bbbbd7;
    background: rgb(135, 8, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgb(135, 8, 0) 52%, rgba(0, 0, 0, 1) 100%);
}

/**=========================
 * Galleries page page
 */

.gallery-wrapper .grid-item .image-container {
    position: relative;
}

.gallery-wrapper .grid-item .image-container img {
    max-width: 100%;
    width: auto;
}

.gallery-wrapper .grid-item .image-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /*z-index: 16;*/
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 50%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.85)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 50%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.65) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);

}

.gallery-wrapper .grid-item .image-container .icon {
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    left: 35px;
    bottom: 15px;
}

.be-border:not(:last-child) {
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, .4);
    background-color: rgba(1, 0, 55, .4);
    border-top-color: rgba(0, 0, 0, .4);
    height: 2px;
    border-right: 0;
    border-left: 0;
}

.galleries .item img {
    max-height: 100%;
}


/*
 * Component: Callout
 * ------------------
 */
.callout {
    border-radius: 3px;
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #01004e;
    background-color: #fff;
    color: #01004e;
}

.callout.callout-theme {
    border-left: 5px solid #000;
    background-color: #01004e;
    color: #e2e2ef;
}

.callout a {
    color: #fff;
    text-decoration: underline;
}

.callout a:hover {
    color: #eee;
}

.callout h4 {
    margin-top: 0;
    font-weight: 600;
}

.callout p:last-child {
    margin-bottom: 0;
}

.callout .highlight {
    font-weight: 700;
    font-size: 1rem;
}

/*
 * Component: Form
 * ---------------
 */

.btn-theme {
    background-color: rgba(135, 8, 0, .66);
    color: #fff;
    font-size: 0.9rem;
    line-height: 2.0;
    border-color: rgba(135, 8, 0, .66);
}

.btn-theme:hover,
.btn-theme:focus {
    color: #fff;
    background-color: rgba(135, 8, 0, 1);
}

/*
 * Component: Form
 * ---------------
 */
.form-control {
    /*box-shadow: none;*/
    /*border-color: #d2d6de;*/
}

.form-control:focus {
    border-color: #718E0E;
    box-shadow: none;
}

.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
    color: #bbb;
    opacity: 1;
}

.form-control:not(select) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-group.has-success label {
    color: #00a65a;
}

.form-group.has-success .form-control,
.form-group.has-success .input-group-addon {
    border-color: #00a65a;
    box-shadow: none;
}

.form-group.has-success .help-block {
    color: #00a65a;
}

.form-group.has-warning label {
    color: #f39c12;
}

.form-group.has-warning .form-control,
.form-group.has-warning .input-group-addon {
    border-color: #f39c12;
    box-shadow: none;
}

.form-group.has-warning .help-block {
    color: #f39c12;
}

.form-group.has-error label {
    color: #dd4b39;
}

.form-group.has-error .form-control,
.form-group.has-error .input-group-addon {
    border-color: #dd4b39;
    box-shadow: none;
}

.form-group.has-error .help-block {
    color: #dd4b39;
}

/* Input group */
.input-group .input-group-addon {
    border-radius: 0;
    border-color: #d2d6de;
    background-color: #fff;
}

/* button groups */
.btn-group-vertical .btn.btn-flat:first-of-type,
.btn-group-vertical .btn.btn-flat:last-of-type {
    border-radius: 0;
}

.error-page .card.bg-theme, .bg-theme {
    background: #01004e;
    color: #bbbbd7;
}

.error-emoji {
    font-size: 5rem;
}

.page-item.active .page-link {
    background-color: #870800;
    border-color: #870800;
}

.page-link {
    color: #870800
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(25, 83, 190, 0.25);
}

.bg-danger {
    background-color: #870800 !important;
}

@media (max-width: 992px) {
    .preview-time {
        float: left;
    }
}

@media (max-width: 576px) {

    .breadcrumb {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .navbar-default {
        /*background: #fafafa;*/
    }

    .top-bar .headline {
        font-size: 1em;
    }

    .top-bar .tagline {
        font-size: .65em;
        line-height: 1.25;
    }

    .dropdown-menu {
        background: transparent;
    }

    .dropdown-menu .dropdown-item {
        color: #bbbbd7;
    }

    #logo img {
        margin-bottom: 5px;
    }

    #homeCarousel {
        height: 200px;
    }

    #homeCarousel .item,
    #homeCarousel.owl-carousel.owl-drag .owl-item,
    #homeCarousel .item > div,
    #homeCarousel .item > div > div
    #homeCarousel .item > div > div,
    #homeCarousel .item > div > div > img {
        max-height: 200px;
    }

    .glorious-blue .item img,
    .glorious-blue-2 .item img,
    .glorious-orange .item img {
        width: 100%;
    }
    .home-gallery-carousel-wrapper .item img {
        min-height: 200px;
    }
}
