<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Nuggets</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="card">
                            <div class="card-header with-border">
                                <h3 class="card-title">Edit</h3>
                            </div>

                            <div class="card-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="card-body">
                                <div class="form-group">
                                    <label for="title">Title *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="title"
                                            placeholder="Enter Title *"
                                            :value="item.title"
                                            @input="updateTitle"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea
                                            rows="3"
                                            class="form-control"
                                            name="description"
                                            placeholder="Enter Description"
                                            :value="item.description"
                                            @input="updateDescription"
                                            >
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label for="video_link">Video link</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="video_link"
                                            placeholder="Enter Video link"
                                            :value="item.video_link"
                                            @input="updateVideo_link"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="order">Order</label>
                                    <input
                                            type="number"
                                            class="form-control"
                                            name="order"
                                            placeholder="Enter Order"
                                            :value="item.order"
                                            @input="updateOrder"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="show_on_front_page">Show on front page</label>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="show_on_front_page"
                                                    :value="item.show_on_front_page"
                                                    :checked="item.show_on_front_page === '1'"
                                                    @change="updateShow_on_front_page('1')"
                                                    >
                                            Yes
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="show_on_front_page"
                                                    :value="item.show_on_front_page"
                                                    :checked="item.show_on_front_page === '0'"
                                                    @change="updateShow_on_front_page('0')"
                                                    >
                                            No
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="active">Active *</label>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="active"
                                                    :value="item.active"
                                                    :checked="item.active === '1'"
                                                    @change="updateActive('1')"
                                                    >
                                            Yes
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="active"
                                                    :value="item.active"
                                                    :checked="item.active === '0'"
                                                    @change="updateActive('0')"
                                                    >
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('NuggetsSingle', ['item', 'image_urls', 'loading']),
    },
    created() {
        this.fetchData(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('NuggetsSingle', ['fetchData', 'updateData', 'resetState', 'setTitle', 'setDescription', 'setImages', 'setImageUrls', 'destroyImages', 'destroyUploadedImages', 'setVideo_link', 'setOrder', 'setShow_on_front_page', 'setActive']),
        updateTitle(e) {
            this.setTitle(e.target.value)
        },
        updateDescription(e) {
            this.setDescription(e.target.value)
        },
        updateImageUrls(image) {
            this.setImageUrls(image)
        },
        updateVideo_link(e) {
            this.setVideo_link(e.target.value)
        },
        updateOrder(e) {
            this.setOrder(e.target.value)
        },
        updateShow_on_front_page(value) {
            this.setShow_on_front_page(value)
        },
        updateActive(value) {
            this.setActive(value)
        },
        submitForm() {
            this.updateData()
                .then(() => {
                    this.$router.push({ name: 'nuggets.index' })
                    this.$eventHub.$emit('update-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
