<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>{{item.title}}</h1>
        </section>

        <section class="content">
            <div class="mb-3">
                <back-buttton></back-buttton>
            </div>
            <form @submit.prevent="submitForm" novalidate>
                <div class="card mb-3">
                    <div class="card-header with-border bg-primary text-white">
                        <h5 class="card-title">Upload new Images</h5>
                    </div>
                    <div class="card-body">
                        <bootstrap-alert/>
                        <div class="form-group">
                            <input
                                type="file"
                                class="form-control"
                                @change="updateImages"
                                multiple="multiple"
                            >
                            <div class="preview row">
                                <div v-for="image in image_urls" class="mb-3 mb-3 col-md-2">
                                    <div class="" v-html="image.data"></div>
                                    <button class="btn btn-xs btn-danger"
                                            type="button"
                                            @click="removeImages($event, image.index)"
                                    >
                                        Remove file
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header with-border bg-primary text-white">
                        <h5 class="card-title">Uploaded Images</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div v-if="media" v-for="uploaded in media" class="mb-3 mb-3 col-md-2" :style="mediaLoading ? 'opacity:.6' : 'opacity:1'">
                                <div>
                                    <img class="img-fluid" :src="'/storage/'+uploaded.id+'/'+uploaded.file_name">
                                </div>
                                <button class="btn btn-xs btn-danger" :disabled="mediaLoading"
                                        type="button"
                                        @click="removeUploadedImages($event, uploaded.id)"
                                >
                                    Remove file
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-transparent">
                    <div class="mb-3">
                        <paginator :pagination_id="pagination_id"></paginator>
                    </div>
                    <div class="card-footer bg-transparent pt-0 px-0">
                        <vue-button-spinner
                            class="btn btn-primary btn-sm"
                            :isLoading="loading"
                            :disabled="loading"
                        >
                            Save
                        </vue-button-spinner>
                    </div>
                </div>
            </form>
        </section>
    </section>
</template>


<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        data() {
            return {
                pagination_id: 'nuggets_images',
            }
        },
        computed: {
            ...mapGetters('NuggetsSingle', ['item', 'paginationData', 'uploaded_images', 'image_urls', 'loading']),
            ...mapGetters('MediaSingle', ['media', 'mediaLoading'])
        },
        created() {
            this.fetchImages({query: this.$route.query, id: this.$route.params.id});
        },
        watch: {
            "$route.params.id": function () {
                this.resetState()
                this.fetchImages({query: this.$route.query, id: this.$route.params.id})
            },
            //Listen for updates in paginationData and update root pagination in app.js
            paginationData: function () {
                this.$root.setPagination(this.paginationData)
            },
        },
        destroyed() {
            this.resetState()
        },
        methods: {
            ...mapActions('NuggetsSingle', ['updateData', 'fetchImages', 'resetState', 'setImages', 'setImageUrls', 'destroyImages', 'destroyUploadedImages']),
            ...mapActions('MediaSingle', ['destroyMedia']),
            removeImages(e, id) {
                this.$swal({
                    title: 'Are you sure?',
                    text: "To fully delete the file submit the form.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Delete',
                    confirmButtonColor: '#dd4b39',
                    focusCancel: true,
                    reverseButtons: true
                }).then(result => {
                    if (typeof result.dismiss === "undefined") {
                        e.target.parentNode.remove()
                        this.destroyImages(id);
                    }
                })
            },
            updateImageUrls(image) {
                this.setImageUrls(image)
            },
            updateImages(e) {
                let files = e.target.files;
                this.setImages(files);
                this.$forceUpdate();
                let $this = this

                function readAndPreview(file, index) {

                    // Make sure `file.name` matches our extensions criteria
                    if (/\.(jpe?g|png|gif)$/i.test(file.name)) {
                        let reader = new FileReader();

                        reader.addEventListener("load", function () {
                            $this.updateImageUrls({
                                "index": index,
                                "data": '<img class="img-fluid" src="' + this.result + '" title="' + file.name + '" alt="' + file.name + '" />',
                            })
                        }, false);

                        reader.readAsDataURL(file);
                    }

                }

                if (files) {
                    [].forEach.call(files, function (file, index) {
                        readAndPreview(file, index)
                    });
                }
            },
            removeUploadedImages(e, id) {
                this.$swal({
                    title: 'Are you sure ? ',
                    text: "To fully delete the file submit the form.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Delete',
                    confirmButtonColor: '#dd4b39',
                    focusCancel: true,
                    reverseButtons: true
                }).then(result => {
                    if (typeof result.dismiss === "undefined") {
                        this.destroyMedia({item: id, model: this.$route.params.id});
                    }
                })
            },
            submitForm() {
                this.updateData()
                    .then(() => {
                        location.reload()
                        this.$eventHub.$emit('update-success')
                    })
            }
        }
    }
</script>


<style scoped>

</style>
