<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Videos</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="card">
                            <div class="card-header with-border">
                                <h3 class="card-title">Edit</h3>
                            </div>

                            <div class="card-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="card-body">
                                <div class="form-group">
                                    <label for="title">Title *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="title"
                                            placeholder="Enter Title *"
                                            :value="item.title"
                                            @input="updateTitle"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="link">Link *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="link"
                                            placeholder="Enter Link *"
                                            :value="item.link"
                                            @input="updateLink"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="categories">Categories</label>
                                    <v-select
                                            name="categories"
                                            label="title"
                                            @input="updateCategories"
                                            :value="item.categories"
                                            :options="categoriesAll"
                                            multiple
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="image">Image</label>
                                    <input
                                            type="file"
                                            class="form-control"
                                            @change="updateImage"
                                    >
                                    <ul v-if="item.image" class="list-unstyled">
                                        <li>
                                            <div v-html="item.image_link"></div>
                                            <button class="btn btn-xs btn-danger"
                                                    type="button"
                                                    @click="removeImage"
                                            >
                                                Remove file
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="country"
                                            placeholder="Enter Country"
                                            :value="item.country"
                                            @input="updateCountry"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="venue">Venue</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="venue"
                                            placeholder="Enter Venue"
                                            :value="item.venue"
                                            @input="updateVenue"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="date">Date</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="date"
                                            placeholder="Enter Date"
                                            :value="item.date"
                                            @input="updateDate"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <vue-ckeditor
                                            name="description"
                                            :id="'description'"
                                            :value="item.description"
                                            @input="updateDescription"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="order">Order</label>
                                    <input
                                            type="number"
                                            class="form-control"
                                            name="order"
                                            placeholder="Enter Order"
                                            :value="item.order"
                                            @input="updateOrder"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="major_vision">Major vision</label>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="major_vision"
                                                    :value="item.major_vision"
                                                    :checked="item.major_vision === '1'"
                                                    @change="updateMajor_vision('1')"
                                                    >
                                            Yes
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="major_vision"
                                                    :value="item.major_vision"
                                                    :checked="item.major_vision === '0'"
                                                    @change="updateMajor_vision('0')"
                                                    >
                                            No
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fulfilled_prophecy">Fulfilled prophecy</label>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="fulfilled_prophecy"
                                                    :value="item.fulfilled_prophecy"
                                                    :checked="item.fulfilled_prophecy === '1'"
                                                    @change="updateFulfilled_prophecy('1')"
                                                    >
                                            Yes
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="fulfilled_prophecy"
                                                    :value="item.fulfilled_prophecy"
                                                    :checked="item.fulfilled_prophecy === '0'"
                                                    @change="updateFulfilled_prophecy('0')"
                                                    >
                                            No
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="show_on_front_page">Show on front page</label>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="show_on_front_page"
                                                    :value="item.show_on_front_page"
                                                    :checked="item.show_on_front_page === '1'"
                                                    @change="updateShow_on_front_page('1')"
                                                    >
                                            Yes
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="show_on_front_page"
                                                    :value="item.show_on_front_page"
                                                    :checked="item.show_on_front_page === '0'"
                                                    @change="updateShow_on_front_page('0')"
                                                    >
                                            No
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="active">Active</label>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="active"
                                                    :value="item.active"
                                                    :checked="item.active === '1'"
                                                    @change="updateActive('1')"
                                                    >
                                            Yes
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="active"
                                                    :value="item.active"
                                                    :checked="item.active === '0'"
                                                    @change="updateActive('0')"
                                                    >
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('VideosSingle', ['item', 'loading', 'categoriesAll']),
    },
    created() {
        this.fetchData(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('VideosSingle', ['fetchData', 'updateData', 'resetState', 'setTitle', 'setLink', 'setCategories', 'setImage', 'setCountry', 'setVenue', 'setDate', 'setDescription', 'setOrder', 'setMajor_vision', 'setFulfilled_prophecy', 'setShow_on_front_page', 'setActive']),
        updateTitle(e) {
            this.setTitle(e.target.value)
        },
        updateLink(e) {
            this.setLink(e.target.value)
        },
        updateCategories(value) {
            this.setCategories(value)
        },
        removeImage(e, id) {
            this.$swal({
                title: 'Are you sure?',
                text: "To fully delete the file submit the form.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                confirmButtonColor: '#dd4b39',
                focusCancel: true,
                reverseButtons: true
            }).then(result => {
                if (typeof result.dismiss === "undefined") {
                    this.setImage('');
                }
            })
        },
        updateImage(e) {
            this.setImage(e.target.files[0]);
            this.$forceUpdate();
        },
        updateCountry(e) {
            this.setCountry(e.target.value)
        },
        updateVenue(e) {
            this.setVenue(e.target.value)
        },
        updateDate(e) {
            this.setDate(e.target.value)
        },
        updateDescription(value) {
            this.setDescription(value)
        },
        updateOrder(e) {
            this.setOrder(e.target.value)
        },
        updateMajor_vision(value) {
            this.setMajor_vision(value)
        },
        updateFulfilled_prophecy(value) {
            this.setFulfilled_prophecy(value)
        },
        updateShow_on_front_page(value) {
            this.setShow_on_front_page(value)
        },
        updateActive(value) {
            this.setActive(value)
        },
        submitForm() {
            this.updateData()
                .then(() => {
                    this.$router.push({ name: 'videos.index' })
                    this.$eventHub.$emit('update-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
