<template>
    <div v-if="pagination.last_page > 1">
        <nav aria-label="Page navigator">
            <ul class="pagination">
                <li :class="pageItemPreviousClass" :disabled="!pagination.prev_page_url">
                    <span :class="pageLinkPreviousClass" v-if="!pagination.prev_page_url"><i class="mdi mdi-chevron-double-left"></i></span>
                    <a v-else :class="pageLinkPreviousClass" :href="getPreviousPage(pagination.current_page)"
                            aria-label="Previous">
                        <i class="mdi mdi-chevron-double-left"></i>
                    </a>
                </li>
                <li v-for="page in pagination.last_page"
                    :class="page === pagination.current_page ? 'page-item active': 'page-item'">
                    <a class="page-link" :href="getPage(page)">{{ page }}</a>
                </li>
                <li :class="pageItemNextClass" :disabled="!pagination.next_page_url">
                    <span :class="pageLinkNextClass" v-if="!pagination.next_page_url"><i class="mdi mdi-chevron-double-right"></i></span>
                    <a v-else :class="pageLinkNextClass" :href="getNextPage(pagination.current_page)" aria-label="Next">
                        <i class="mdi mdi-chevron-double-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        props: ['pagination_id'],
        data() {
            return {
                pageLinkNextClass: 'page-link disabled',
                pageLinkPreviousClass: 'page-link disabled',
                pageItemNextClass: 'page-item',
                pageItemPreviousClass: 'page-item',
                offset: 4,
                pagination: this.$root.pagination,
                basePath: window.location.pathname,
            }
        },
        computed: {
            ...mapGetters('Paginator', ['loading']),
        },
        updated() {
            this.pageLinkNextClass = (this.pagination.next_page_url ? 'page-link' : 'page-link disabled ')
            this.pageLinkPreviousClass = (this.pagination.prev_page_url ? 'page-link' : 'page-link disabled ')
            this.pageItemNextClass = (this.pagination.next_page_url ? 'page-item active' : 'page-item ')
            this.pageItemPreviousClass = (this.pagination.prev_page_url ? 'page-item active' : 'page-item ')
        },
        watch: {
            "$root.pagination": function () {
                this.pagination = this.$root.pagination
            }
        },
        methods: {
            ...mapActions('Paginator', ['fetchData']),
            getItems(url) {
                this.fetchData(url).then(response => {
                    this.$eventHub.$emit('pagination-items-updated-' + this.pagination_id, response.data)
                })
            },
            changePage(page) {
                let url = this.pagination.path + '?page=' + page
                this.getItems(url);
            },
            getPage(page) {
                return this.basePath + '?page=' + page
            },
            getNextPage(page) {
                ++page;
                return this.basePath + '?page=' + page
            },
            getPreviousPage(page) {
                --page;
                return this.basePath + '?page=' + page
            },

        }
    }
</script>

<style scoped>
    .page-item.active .page-link {
        background-color: #7460ee;
        border-color: #5c4db9;
    }

    .page-link {
        color: #7460ee
    }

    .page-link:focus {
        z-index: 2;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(25, 83, 190, 0.25);
    }

    .page-item.disabled .page-link {
        color: #6c757d;
        pointer-events: none;
        cursor: auto;
        background-color: #fff;
        border-color: #dee2e6;
    }

    [disabled]:hover {
        cursor: not-allowed;
    }

</style>
