<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Galleries</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="card">
                            <div class="card-header with-border">
                                <h3 class="card-title">Edit</h3>
                            </div>

                            <div class="card-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="card-body">
                                <div class="form-group">
                                    <label for="title">Title *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="title"
                                            placeholder="Enter Title *"
                                            :value="item.title"
                                            @input="updateTitle"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea
                                            rows="3"
                                            class="form-control"
                                            name="description"
                                            placeholder="Enter Description"
                                            :value="item.description"
                                            @input="updateDescription"
                                            >
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label for="images">Images *</label>
                                    <input
                                            type="file"
                                            class="form-control"
                                            @change="updateImages"
                                            multiple="multiple"
                                    >
                                    <div v-if="item.images || item.uploaded_images">
                                        <div v-for="images in item.uploaded_images" class="mb-3">
                                            <div>
                                                <img :src="'/storage/'+images.id+'/'+images.file_name" width="200">
                                            </div>
                                            <button class="btn btn-xs btn-danger"
                                                    type="button"
                                                    @click="removeUploadedImages($event, images.id);"
                                            >
                                                Remove file
                                            </button>
                                        </div>
                                        <div class="preview row">
                                            <div v-for="image in image_urls" class="mb-3 col-md-3">
                                                <div class="" v-html="image.data"></div>
                                                <button class="btn btn-xs btn-danger"
                                                        type="button"
                                                        @click="removeImages($event, image.index);"
                                                >
                                                    Remove file
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="video_link">Video link</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="video_link"
                                            placeholder="Enter Video link"
                                            :value="item.video_link"
                                            @input="updateVideo_link"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="order">Order</label>
                                    <input
                                            type="number"
                                            class="form-control"
                                            name="order"
                                            placeholder="Enter Order"
                                            :value="item.order"
                                            @input="updateOrder"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="show_on_front_page">Show on front page</label>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="show_on_front_page"
                                                    :value="item.show_on_front_page"
                                                    :checked="item.show_on_front_page === '1'"
                                                    @change="updateShow_on_front_page('1')"
                                                    >
                                            Yes
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="show_on_front_page"
                                                    :value="item.show_on_front_page"
                                                    :checked="item.show_on_front_page === '0'"
                                                    @change="updateShow_on_front_page('0')"
                                                    >
                                            No
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="active">Active *</label>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="active"
                                                    :value="item.active"
                                                    :checked="item.active === '1'"
                                                    @change="updateActive('1')"
                                                    >
                                            Yes
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="active"
                                                    :value="item.active"
                                                    :checked="item.active === '0'"
                                                    @change="updateActive('0')"
                                                    >
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('GalleriesSingle', ['item', 'image_urls', 'loading']),
    },
    created() {
        this.fetchData(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('GalleriesSingle', ['fetchData', 'updateData', 'resetState', 'setTitle', 'setDescription', 'setImages', 'setImageUrls', 'destroyImages', 'destroyUploadedImages', 'setVideo_link', 'setOrder', 'setShow_on_front_page', 'setActive']),
        updateTitle(e) {
            this.setTitle(e.target.value)
        },
        updateDescription(e) {
            this.setDescription(e.target.value)
        },
        updateImageUrls(image) {
            this.setImageUrls(image)
        },
        removeImages(e, id) {
            this.$swal({
                title: 'Are you sure?',
                text: "To fully delete the file submit the form.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                confirmButtonColor: '#dd4b39',
                focusCancel: true,
                reverseButtons: true
            }).then(result => {
                if (typeof result.dismiss === "undefined") {
                    e.target.parentNode.remove()
                    this.destroyImages(id);
                }
            })
        },
        updateImages(e) {
            let files = e.target.files;
            this.setImages(files);
            this.$forceUpdate();
            let $this = this
            function readAndPreview(file, index) {

                // Make sure `file.name` matches our extensions criteria
                if ( /\.(jpe?g|png|gif)$/i.test(file.name) ) {
                    let reader = new FileReader();

                    reader.addEventListener("load", function () {
                        $this.updateImageUrls({
                            "index": index,
                            "data": '<img class="img-fluid" src="'+this.result+'" title="'+file.name+'" alt="'+file.name+'" />',
                        })
                    }, false);

                    reader.readAsDataURL(file);
                }

            }

            if (files) {
                [].forEach.call(files, function (file, index) {
                    readAndPreview(file, index)
                });
            }

        },
        removeUploadedImages (e, id) {
        this.$swal({
          title: 'Are you sure ? ',
          text: "To fully delete the file submit the form.",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Delete',
          confirmButtonColor: '#dd4b39',
          focusCancel: true,
          reverseButtons: true
        }).
        then(result => {
            if (typeof result.dismiss === "undefined") {
                this.destroyUploadedImages(id);
            }
        })
        },
        updateVideo_link(e) {
            this.setVideo_link(e.target.value)
        },
        updateOrder(e) {
            this.setOrder(e.target.value)
        },
        updateShow_on_front_page(value) {
            this.setShow_on_front_page(value)
        },
        updateActive(value) {
            this.setActive(value)
        },
        submitForm() {
            this.updateData()
                .then(() => {
                    this.$router.push({ name: 'galleries.index' })
                    this.$eventHub.$emit('update-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
