<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Slider</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="card">
                            <div class="card-header with-border">
                                <h3 class="card-title">Create</h3>
                            </div>

                            <div class="card-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="card-body">
                                <div class="form-group">
                                    <label for="title">Title *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="title"
                                            placeholder="Enter Title *"
                                            :value="item.title"
                                            @input="updateTitle"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea
                                            rows="3"
                                            class="form-control"
                                            name="description"
                                            placeholder="Enter Description"
                                            :value="item.description"
                                            @input="updateDescription"
                                            >
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label for="image">Image *</label>
                                    <input
                                            type="file"
                                            class="form-control"
                                            @change="updateImage"
                                    >
                                    <ul v-if="item.image" class="list-unstyled">
                                        <li>
                                            <div v-html="item.image_link"></div>
                                            <button class="btn btn-xs btn-danger"
                                                    type="button"
                                                    @click="removeImage"
                                            >
                                                Remove file
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="video_link">Video link</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="video_link"
                                            placeholder="Enter Video link"
                                            :value="item.video_link"
                                            @input="updateVideo_link"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="active">Active</label>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="active"
                                                    :value="item.active"
                                                    :checked="item.active === '1'"
                                                    @change="updateActive('1')"
                                                    >
                                            Yes
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="active"
                                                    :value="item.active"
                                                    :checked="item.active === '0'"
                                                    @change="updateActive('0')"
                                                    >
                                            No
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="order">Order</label>
                                    <input
                                            type="number"
                                            class="form-control"
                                            name="order"
                                            placeholder="Enter Order"
                                            :value="item.order"
                                            @input="updateOrder"
                                            >
                                </div>
                            </div>

                            <div class="card-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('SlidersSingle', ['item', 'loading'])
    },
    created() {
        // Code ...
    },
    destroyed() {
        this.resetState()
    },
    methods: {
        ...mapActions('SlidersSingle', ['storeData', 'resetState', 'setTitle', 'setDescription', 'setImage', 'setVideo_link', 'setActive', 'setOrder']),
        updateTitle(e) {
            this.setTitle(e.target.value)
        },
        updateDescription(e) {
            this.setDescription(e.target.value)
        },
        removeImage(e, id) {
            this.$swal({
                title: 'Are you sure?',
                text: "To fully delete the file submit the form.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                confirmButtonColor: '#dd4b39',
                focusCancel: true,
                reverseButtons: true
            }).then(result => {
                if (typeof result.dismiss === "undefined") {
                    this.setImage('');
                }
            })
        },
        updateImage(e) {
            this.setImage(e.target.files[0]);
            this.$forceUpdate();
        },
        updateVideo_link(e) {
            this.setVideo_link(e.target.value)
        },
        updateActive(value) {
            this.setActive(value)
        },
        updateOrder(e) {
            this.setOrder(e.target.value)
        },
        submitForm() {
            this.storeData()
                .then(() => {
                    this.$router.push({ name: 'sliders.index' })
                    this.$eventHub.$emit('create-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
